# Qt Creator
*.pro.user
*.pro.user.*.user
*.pro.*.user
*.qtcsettings
*.qmake.stash
*.qmake.cache
*.qtc_clangd

# CMake
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
CMakeUserPresets.json
CMakePresets.json
cmake-build-*/
Makefile
install_manifest.txt

# Qt build files
*.moc
*.ui.cpp
*.qrc.cpp
*.so
*.dylib
*.exe
*.out
*.app

# Build folders
build/
debug/
release/
bin/
obj/
lib/

# Temporary and log files
*.log
*.bak
*.swp
*.swo
*.tmp
*.gcno
*.gcda
Testing/

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
/config
config/dataConnectConfig.ini
